@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/nicksonsantos" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/nickson-santos-endlich-70273718b/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/nicksonendlich/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
