@page "/calculadora"

<h3>Calculadora</h3>

<hr />
&nbsp
&nbsp
<div class="container-fluid">
    <div class="row row-cols-auto g-0">
        <div class="col">
            <input />
        </div>
        <div class="col">
            <input class=""/>
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row row-cols-auto g-0">
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">7</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">8</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">9</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">x</button>
        </div>
    </div>
    <div class="row row-cols-auto g-0">
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">4</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">5</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">6</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">-</button>
        </div>
    </div>
    <div class="row row-cols-auto g-0">
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">1</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">2</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">3</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">+</button>
        </div>
    </div>
    <div class="row row-cols-auto g-0">
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">+/-</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">0</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">,</button>
        </div>
        <div class="col">
            <button style="width: 67px;" type="button" class="btn btn-outline-primary btn-lg">=</button>
        </div>
    </div>
</div>

@code {

}
