@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Esse é o meu site de portfólio. Aqui você vai encontrar o resultado dos meus estudos de front e back-end.</p>

<p>Esse site está sendo publicado utilizando <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank" rel="noopener noreferrer">Blazor</a>
    e <a href="https://pages.github.com" target="_blank" rel="noopener noreferrer">Github Pages</a></p>

<p>Para as soluções e projetos criados estou utilizando C#, HTML, CSS e Javascript</p>

<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
